#include "resource.h"

IDR_MANIFEST RT_MANIFEST "app.manifest"

1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "CodexQuotaTray\0"
            VALUE "FileDescription", "Codex quota and token usage tray monitor\0"
            VALUE "FileVersion", "1.0.0\0"
            VALUE "InternalName", "CodexQuotaTray.exe\0"
            VALUE "OriginalFilename", "CodexQuotaTray.exe\0"
            VALUE "ProductName", "CodexQuotaTray\0"
            VALUE "ProductVersion", "1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
